@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:active {
}
a:visited {
}
a:hover {
  cursor: pointer;
}
img {
  vertical-align: middle;
  border: 0;
}
ul {
}
li {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  background: #eaeaea;
  font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 1.24;
  letter-spacing: -0.23px;
  font-weight: 400;
  word-break: break-all;
}
